<section ng-controller="DataTableCtrl as showCase" ng-init="init(booking.value)">

  <div class="jumbotron">
    <div class="text-center">
      <h2>Welcome to your Hotelligence Dashboard</h2>
      <p>View your guest booking details and status below!</p>
    </div>
    <p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>
  </div>

  <button ng-click="toggleModal()" class="btn btn-primary">My Docs</a>
  </button>

  <modal title="Guest docs" visible="showModal" style="overflow:hidden;position:auto;">
    <!-- <button ng-click="showCase.getImageAvatar(booking.guestUid)" class="btn btn-default {{booking.guestUid}}"> -->
    <img ng-src="{{showCase.images}}" style="width:100%;height:100%">
  </modal>

  <div>
    <table class="row-border hover" datatable="ng">
      <thead>
        <tr>

          <th>Name</th>
          <th>Photos</th>
          <th>Room Number</th>
          <th>stay Duration</th>
          <th>Payment Status</th>
          <th>Booking Reference</th>
          <th>room ready</th>
          <th>Checked In</th>


        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="booking in showCase.bookings">

          <td>{{ booking.name}}</td>
          <td ng-click="toggleModal(); showCase.getImageAvatar(booking.guestUid)" class="btn btn-default {{booking.guestUid}}"></td>
          <td e-ng-model="booking.room_number" e-ng-click="showCase.alert(booking.room_number)" editable-text="booking.room_number">{{ booking.room_number || 'empty' }}</td>
          <td>{{ booking.stay_duration }}</td>
          <td>{{ booking.payment_status }}</td>
          <td>{{ booking.booking_reference }}</td>
          <td>{{ booking.room_ready }}</td>
          <td>{{ booking.checked_in }}</td>

      </tbody>
    </table>
  </div>
</section>
