<h2>Welcome to your Hotelligence Dashboard</h2>

<p class="status good" ng-show="loggedIn">Hello! You are logged in with id {{user.uid}}.</p>
<p class="status" ng-hide="loggedIn">Welcome. You are not <a href="#/login">logged in</a></p>

<div ng-cloak ng-controller="DataTableCtrl as showCase" ng-init="init(booking.value)" >
  <table class="row-border hover" datatable="ng" ng-init"collectBookingUserUids()">


    <thead>
      <tr>

        <th>Name</th>
        <th>Photos</th>
        <th>Room Number</th>
        <th>stay Duration</th>
        <th>Payment Status</th>
        <th>Booking Reference</th>
        <th>room ready</th>
        <th>Checked In</th>

      </tr>
    </thead>
    <tbody>

      <tr  ng-repeat="booking in showCase.bookings">
        <td ng-click="showCase.getImageAvatar(booking.guestUid)" >{{ booking.name}} {{showCase.bookings.length}}{{$index}}<span class="glyphicon glyphicon-camera"></span></td>
        <td><img style="width:80px" ng-src="{{booking.photos}}"></td>
        <td e-ng-model="booking.room_number" e-ng-click="showCase.updateRoomNumber(booking.room_number,$index)" editable-text="booking.room_number">{{ booking.room_number || 'empty' }}</td>
        <td>{{ booking.stay_duration }}</td>
        <td>{{ booking.payment_status }}</td>
        <td>{{ booking.booking_reference }}</td>
        <td>{{ booking.room_ready }}</td>
        <td>{{ booking.checked_in }}</td>

    </tbody>
  </table>
</div>
