<div class="registration-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">

          <div class="panel-heading">
            <h2>Account</h2>
          </div>

          <form>
            <div class="panel-body text-center">
              <fieldset>
                <legend>My Profile</legend>
              </div>
              <div class="panel-body profile">
                <label>
                  <span>Name:</span>
                  <br>
                  <input type="text" name="name" ng-model="profile.name"/>
                </label>
                </div>
                <div class="panel-body profile">
                <label>
                  <span>Email:</span>
                  <br>
                  {{profile.email}}
                </label>
              </div>
              </fieldset>
          </form>

          <form>
            <div class="panel-body">
              <fieldset>
                <legend>Change Password</legend>
            </div>
            <div class="panel-body">
                <input type="password" placeholder="Old Password" ng-keypress="clear()" ng-model="oldpass"/>
            </div>
            <div class="panel-body">
                <input type="password" placeholder= "New Password" ng-keypress="clear()" ng-model="newpass"/>
            </div>
            <div class="panel-body">
              <input type="password" placeholder= "Confirm Password"ng-keypress="clear()" ng-model="confirm"/>
            </div>
              <button class="btn btn-info" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>
                <p class="error" ng-show="err">{{err}}</p>
                <p class="good" ng-show="msg">{{msg}}</p>
              </fieldset>
          </form>
          <br>
          <form>
            <div class="panel-body">
              <fieldset>
                <legend>Change Email</legend>
            </div>
            <div class="panel-body">
              <input type="text" placeholder="New Email" ng-keypress="clear()" ng-model="newEmail"/>
            </div>
            <div class="panel-body">
              <input type="password" placeholder="Password"ng-keypress="clear()" ng-model="pass"/>
            </div>
            <div class="panel-body">
              <button class="btn btn-info" ng-click="changeEmail(pass, newEmail)">update email</button>
                <p class="error" ng-show="emailerr">{{emailerr}}</p>
                <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
            </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
