.navbar {
  margin-bottom: 0px;
}

.navbar-btn {
  margin-left:  15px;
  margin-right: auto;
}

.container {
  overflow: hidden;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
